.generalitem-card {
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.generalitem-card-header {
    background-color: #FDD79B;
    font-weight: bold;
    font-size: 1.2em;
}

.generalitem-card-body {
    background-color: #FDD79B;
    padding: 20px;

}

.generalitem-card-text {
    margin-bottom: 10px;
}

.generalitem-card-buttons {
    background-color: #9BC1FD;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.generalitem-card-title {
    background-color: #FDD79B;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

.generalitem-card-subtitle {
    background-color: #FDD79B;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
}